.services-section {
    padding: 40px;
    overflow-x: hidden;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: left;
    margin-bottom: 40px;
}

.section-heading {
    color: #E63946;
    font-weight: bold;
    margin-bottom: 20px;
}

.title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.description {
    color: #6c757d;
    margin-bottom: 20px;
}

.card-group {
    display: flex;
    justify-content: space-around;
}

.service-card {
    flex: 1;
    margin: 0 10px;
}

.service-card img {
    object-fit: cover;
    height: 400px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    bottom: 0;
}

.carousel-dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #E63946;
}
